@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
    height: 100%;
    background: black;
    color: #ffffff;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-illustration-line {
    position: relative;;
}

.card-illustration-elements {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    /* vertical-align: middle; */
}

.element {
    background-color: #c33f3b;
    color: white;
    width: 1.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    border-radius: 10px 10px 3px 3px;
    border: 2px solid #333;
    position: relative;
}
/* 
.element::after {
    display: block;
    height: 1rem;
    width: 3px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: -1.5rem;
    transform-origin: top center;
    content: "";
} */

.tail-line,
.head-line {
    height: 1.5rem;
    width: 3px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    /* left: 100px; */
}

.head-line {
    width: 6px;
}
