@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
    height: 100%;
    background: black;
    color: #ffffff;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    min-width: 7rem;
    border-radius: 7px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    /* font-size: 1rem; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

button:hover {
    /* filter: brightness(0.5); */
    background-color: rebeccapurple;
}

button:disabled {
    background-color: rebeccapurple;
    filter: brightness(50%);
    cursor: default;
}

.title {
    font-size: 5rem;
    font-family: inherit;
    font-family: 'Nova Mono';
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hflex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* .card, .card-illustration, .card-illustration-elements {
    transition: all 0.3s ease-in-out;
} */

.card-illustration-line {
    position: relative;
    ;
}

.card-illustration-elements {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    /* vertical-align: middle; */
}

.element {
    background-color: #c33f3b;
    color: white;
    width: 1.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    border-radius: 10px 10px 3px 3px;
    border: 2px solid #333;
    position: relative;
}

/* 
.element::after {
    display: block;
    height: 1rem;
    width: 3px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: -1.5rem;
    transform-origin: top center;
    content: "";
} */

.line-j, .line-i, .line-min {
    height: 1.5rem;
    width: 3px;
    position: absolute;
    top: 0.5rem;
    /* left: 100px; */
}

.line-min {
    background-color: white;
    color: black;
    /* width: 6px; */
    transition: all 300ms ease-in-out;
}

.line-i {
    background-color: #ffda0a;
    color: black;
}

.line-j {
    background-color: #4caf52;
    transition: all 100ms linear;
}

.line-min::before, .line-i::before, .line-j::before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    /* left: -2px; */
    left: -100%;
    transition: inherit;
}

.line-min::after, .line-i::after, .line-j::after {
    position: absolute;
    background-color: inherit;
    border-radius: 7px;
    padding: 0.25rem;
    min-width: 1rem;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
}

.line-min::after {
    content: "min";
}

.line-i::after {
    content: "i";
}

.line-j::after {
    content: "j";
}

.sorted-marker {
    height: 1.5rem;
    width: 5rem;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-bottom-right-radius: 7px;
    position: absolute;
    top: 0.5rem;
    left: -5rem;
    transition: all 0.3s ease-in-out;
}

.sorted-marker::before {
    content: "sorted";
    position: absolute;
    right: 0.5rem;
}

.sorted-marker::after {
    content: "";
    background-image: url("./resources/images/chevron-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
    width: 2rem;
    height: 2rem;
    position: absolute;
    /* background-color: white; */
    right: 3.6rem;
    top: 0.45rem;
    /* transform: rotate(50deg); */
}

.selection-sort-element-transition {
    /* --distance: attr(data-distance px); */
    /* animation: elment-right-to-left ease-in-out 1000ms; */
    opacity: 0;
    transition: opacity 1000ms ease-in-out
}

@keyframes elment-right-to-left {
    33% {
        transform: translateY(6rem);
    }
    66% {
        transform: translateX(var(--distance));
        transform: translateX(attr(data-distance px));
        /* transform: translateX(8rem); */
    }
    100% {
        transform: translateY(0);
    }
}

/** SLIDER **/

.slider-container {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 5px;
    /* Specified height */
    background: white;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.8;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    width: 16px;
    /* Set a specific slider handle width */
    height: 16px;
    /* Slider handle height */
    background: blueviolet;
    cursor: pointer;
    /* Cursor on hover */
    border: none;
    transition: all 0.3s ease-in-out;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
}

